<node>
    <head>
        <meta charset = "UTF-8">
        <title>Mercado liebre</title>
        <link rel = "stylesheet" href = "/css/normalize.css">
        <link rel = "stylesheet" href = "/css/main.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <header class = "mainHeader">
            <div class = "mainHeaderTopBar">
                <div class = "logoYSearch">
                    <img class = "logo" src= "img/logo-mercado-liebre.svg" alt="logo de mercado liebre">
                    <form action="" method="GET" class = "searchBar">
                        <div class = "searchBar">
                            
                            <input type="search" name="searchBar" placeholder=" Buscar...">
                        </div>
                    </form>
                </div>
                <p class = "phrase">
                    <i class = "fas fa-hand-holding-usd"></i>
                    Compra en cuotas y sin tarjeta de credito
                </p>
            </div>

                <nav class ="mainHeaderBottomBar">

                    <ul class = "leftNavBar">
                        <li><a href = "#">Ofertas</a></li>
                        <li><a href = "https://localhost:3000">Tienda Oficial</a></li>
                        <li><a href = "#">Vender</a></li>
                        <li><a href = "#">Ayuda</a></li>
                    </ul> 
                    <ul class = "rightNavBar">
                        <li><a href = "/register">Crea Tu Cuenta</a><i class = "far fa-id-card"></i></li>
                        <li><a href = "/login">Ingresa</a><i class = "fas fa-sign-in-alt"></i></li>
                        <li><a href = "#">Mis Compras</a><i class = "fas fa-shopping-basket"></i></li>
                    </ul>

                </nav>
            <a href="#" class="burger-menu">
                <i class="fas fa-bars"></i>
            </a>
           
                
           
        </header>
        <img class="banner" src="img/img-home-banner.jpg" alt="banner">
        <main class="main">
            
            <section class = "basedOnYourLastVisit">
                <p class = "titulares">Basado en tu última visita</p>
                <div class= "article">
                        <img class = "images" src= "img/img-cafetera-moulinex.jpg" alt= "imagen cafetera">
                        <div class = "articleDivision">
                            <div class = "truck">
                                <i class = "fas fa-truck"></i>
                            </div>
                                <div class = precioYDescuento>
                                    <p class = "precios">$6.770</p>
                                    <p class = "descuentos">40% OFF</p>
                                </div>
                            <p class = "descripciones">Cafetera Moulinex</p>
                        </div>
                </div>

                <div class= "article">
                        <img class = "images" src= "img/img-macbook-pro-2019.jpg" alt= "imagen de MacBook">
                        <div class = "articleDivision">
                            <div class = "truck">
                                <i class = "fas fa-truck"></i>
                            </div>
                                <div class = precioYDescuento>
                                    <p class = "precios">$230.000</p>
                                    <p class = "descuentos">20% off</p>
                                </div>
                             <p class = "descripciones">MacBook Pro 2019</p>
                        </div>
                </div>
                
                <div class= "article">
                        <img class = "images" src= "img/img-samsung-galaxy-s10.jpg" alt= "imagen de Samsung">
                        <div class = "articleDivision">
                            <div class = "truck">
                                <i class = "fas fa-truck"></i>
                            </div>
                                <div class = precioYDescuento>
                                    <p class = "precios">$70.500</p>
                                    <p class = "descuentos">10% off</p>
                                </div>
                            <p class = "descripciones">Samsung Galaxy S10</p> 
                        </div>
                </div>
            
                <div class= "article">
                    <img class = "images" src= "img/img-tv-samsung-smart.jpg" alt= "imagen de SmartTv">
                        <div class = "articleDivision">
                            <div class = "truck">
                                <i class = "fas fa-truck"></i>
                            </div>
                                <div class = precioYDescuento>
                                    <p class = "precios">$23.200</p>
                                    <p class = "descuentos">5% off</p>
                                </div>
                            <p class = "descripciones">SmartTv Samsung 43</p> 
                        </div>
                    </div>
                </div>
                
            </section>
            <section class="sale">
                <p class = "titulares">Ofertas</p>
                <div class= "article">
                        <img class = "images" src= "img/img-cafetera-moulinex.jpg" alt= "imagen cafetera">
                        <div class = "articleDivision">
                            <div class = "truck">
                                <i class = "fas fa-truck"></i>
                            </div>
                                <div class = precioYDescuento>
                                    <p class = "precios">$6.770</p>
                                    <p class = "descuentos">40% OFF</p>
                                </div>
                            <p class = "descripciones">Cafetera Moulinex</p>
                        </div>
                </div>
               
                <div class= "article">
                        <img class = "images" src= "img/img-macbook-pro-2019.jpg" alt= "imagen de MacBook">
                        <div class = "articleDivision">
                            <div class = "truck">
                                <i class = "fas fa-truck"></i>
                            </div>
                                <div class = precioYDescuento>
                                    <p class = "precios">$230.000</p>
                                    <p class = "descuentos">20% off</p>
                                </div>
                                <p class = "descripciones">MacBook Pro 2019</p>
                        </div>
                </div>
                
                <div class= "article">
                        <img class = "images" src= "img/img-samsung-galaxy-s10.jpg" alt= "imagen de Samsung">
                        <div class = "articleDivision">
                            <div class = "truck">
                                <i class = "fas fa-truck"></i>
                            </div>
                                <div class = precioYDescuento>
                                    <p class = "precios">$70.500</p>
                                    <p class = "descuentos">10% off</p>
                                </div>
                            <p class = "descripciones">Samsung Galaxy S10</p> 
                        </div>
                </div>
            
                <div class= "article">
                    <img class = "images" src= "img/img-tv-samsung-smart.jpg" alt= "imagen de SmartTv">
                        <div class = "articleDivision">
                            <div class = "truck">
                                <i class = "fas fa-truck"></i>
                            </div>
                                <div class = precioYDescuento>
                                    <p class = "precios">$23.200</p>
                                    <p class = "descuentos">5% off</p>
                                </div>
                            <p class = "descripciones">SmartTv Samsung 43</p> 
                        </div>
                    </div>
                </div>
            </section>
    
        </main>
        <p> </p>
        <footer class = "footer">
            <div class="threeElementsFooter">
                <section>
                    <div class = "icons">
                        <i class = "fas fa-credit-card"></i>
                    </div>
                    <strong class = "texto">Pagá con tarjeta o en efectivo</strong>
                    <p class = "texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </section>
                <section>
                    <div class = "icons">
                        <i class = "fas fa-gift"></i>
                    </div>
                    <strong class = "texto">Envío gratis desde $ 2.500</strong>
                    <p class = "texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </section>
                <section>
                    <div class = "icons">
                        <i class = "fas fa-gift"></i>
                    </div>
                    <strong class = "texto">Seguridad, de principio a fin</strong>
                    <p class = "texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </section> 
            </div>
            <section>
                <p class = "texto">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </footer>
    </body>

</node>
