*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 12px;
    font-family: roboto;
}

/**************************** HEADER ********************************/
.mainHeader{
    text-align: left;
    background-color: #EAC926;
    padding: 20px; 
}

.logoYSearch{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}
.logo{
    padding-right: 5%;
    width: 45%;

}
.searchBar{
    padding-right: 5%;
    width: 45%;
    margin: auto;
    font-size: 10px;
    border-radius: 8px;
}
@media(min-width: 542px){
    .searchBar{
        font-size: 18px;
    }
}

.phrase{
    padding-bottom: 10px;
}
.mainHeaderBottomBar {
    display: none;
}
.mainHeaderBottomBar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.mainHeaderBottomBar a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 20px 0px;
}
.burger-menu{
    display: block;
    text-align: center;
    color: white;
    background-color: #03264C;
    max-width: 50px;
    border-radius: 8px;
    padding: 15px 0px;
    font-size: 18px;
    margin: auto;
}
.banner{
    width: 100%;
}
/**************************** MAIN ********************************/
.main{
    width: 100%;
    margin: auto;
    text-align: left;
    background-color: #ebebeb;
}
.basedOnYourLastVisit{
    background-color: #ebebeb;
}
.sale{
    background-color: #ebebeb;
}
.images{
    width: 93%;
    min-width: 320px;
    padding: 10px;
    margin: auto;
}
article{
    margin-bottom: 10px;
    background-color: white;
    width: 90%;
    max-width: 340px;
    margin: auto;
    border-radius: 4px;
}
.precios{
    font-size: 18px;
    max-width: 70%;
}  
.descuentos{
    font-size: 16px;
    max-width: 30%;
}
.precioYDescuento{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.descripciones{
    font-size: 16px;
    display: flex;
    margin: auto;
    display: none;
}

.titulares{
    font-size: 24px;
    padding-top:20px;
    margin-bottom: 20px;
    padding-left: 60px;
}
.truck{
    display: block;
    text-align: center;
    margin-left: 85%;
    color: #39b54a;
    border-radius: 60px;
    width: 40px;
    height: 40px;
    border: 1px solid #39b54a;
    padding: 12px 5px 5px 6px;
    font-size: 16px;
    background-color: #FFF; 
}
.articleDivision{
    border-top: solid 1px #ebebeb;
    padding: 15px;
    background-color: white;
    border-radius: 4px;
}
.precioYDescuento{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

/**************************** FOOTER ********************************/
.footer{
    text-align: center;
    background-color: white;
    padding-top: 20px;
}

.texto{
    font-size: 12px;
    margin-bottom: 10px;
    color: #03264C;
}
.icons{
    text-align: center;
    margin: auto;
}
.icons *{
        font-size: 2em;
        color: blue;
        margin-bottom: 10px;
}

/****************************** MEDIA QUERIES ***************************************/

/*********************************************** TABLET ************************************************/

@media (min-width: 768px){

    /************************************* HEADER ********************************************/
    .mainHeaderBottomBar {
        display: flex;
        justify-content: space-between;
    }
    .mainHeaderTopBar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        width: 25%;
    }
    .searchBar{
        width: 50%;
        text-align: center;
        margin: auto;
    }
    .searchBar *{
        border-radius: 6px;
    }
    .phrase{
        width: 25%;
    }

    .burger-menu{
        display: none;
    }

    /************************************* NAVBAR ********************************************/
    .mainHeaderBottomBar{
        display: flex;
        justify-content: space-between;
    }
    .mainHeaderBottomBar ul{
        display: flex;
    }
    .mainHeaderBottomBar li{
        margin: 0px 5px;
    }

    /************************************* MAIN ********************************************/
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        max-width: 40vw;
        max-height: 80vw;
        border-radius: 6px;
        margin: 5vw;
    }
    .articleDivision{
        border-radius: 6px;
    }
    .descripciones{
        display: block;
        margin-left: 30px;
        padding: 15px 0px;
    }
    .descuentos{
        display: flex;
        flex-wrap: wrap;
    }
    .basedOnYourLastVisit{
        display: flex;
        flex-wrap: wrap;
        height: 150vw;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        align-items: center;
        /*overflow: hidden;*/
    }
    .sale{
        display: flex;
        flex-wrap: wrap;
        height: 150vw;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        align-items: center;
    }

}

/******************************************* DESKTOP ****************************************************/

@media (min-width: 1220px){
    
       /************************************* HEADER ********************************************/
       .mainHeaderBottomBar,
       .mainHeaderTopBar{
           max-width: 1000px;
           margin: auto;
           
        }
        .logo{
            width: 250px;
        }
        .searchBar{
            font-size: 30px;
        }
        .searchBar *{
            border-radius: 8px;
        }
        .phrase{
            font-size: 20px;
            text-align: left;
        }
    

    /************************************* NAVBAR ********************************************/
        .mainHeaderBottomBar li {
            margin: 0 10px;
        }
        .mainHeaderBottomBar *{
            font-size: 17px;
        }

    /************************************* MAIN ********************************************/

    article{
        max-width: 22vw;
        border-radius: 8px;
        margin: 1vw;
    }

    .images{
        min-width: 280px;
    }

    .articleDivision{
        border-radius: 8px;
    }
    .descripciones{
        visibility: hidden;
        height: 0vh;
        overflow: hidden;
        transition: all .3s ease-in-out;
    }
    article:hover .descripciones{
        visibility: visible;
        height: 8vh;
    }
    @keyframes shaker {   
      0% {
        transform: translateY(-30%);
      }
      10% {
        transform: translateY(30%);
      }
      20% {
        transform: translateY(-30%);
      }
    
      30% {
        transform: translateY(30%);
      }
      40% {
        transform: translateY(0%);
      }
      50%{
          transform: translateX(-50%);
      }
      100% {
        transform: translateX(200%);
      }
    }
    article:hover .truck {
        animation-name: shaker;
        animation-duration: 1000ms;
        animation-iteration-count: initial;
        animation-direction: normal;
    }
    .basedOnYourLastVisit{
        padding-top: 30px;
        display: flex;
        flex-wrap: wrap;
        height: 40vw;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        align-items: center;
    }
    .sale{
        display: flex;
        flex-wrap: wrap;
        height: 40vw;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        align-items: center;
    }
    
    /*************************** FOOTER ******************************/
    .icons *{
        transition: all 100ms;

    }
    .icons:hover *{
        color: #EAC926;
        font-size: 30px;
    }
    .footer *{
        width: 30vw;
        margin-bottom: 5px;
    }
    .footer{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}


/*  
amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris Oscuro: #666;
Gris Claro: #ebebeb;
Verde: #39b54a; */

